nutcracker
2020_02_06_Collation_NBh3.xml
output.cex
.DS_Store
2020_02_19_Collation_NBh 3.xml
Collation_NBh3_1_1.xml
report.txt

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
